{% extends "base.html" %}
{% load static %}

{% block title %}
About Me
{% endblock %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'images/c1.jpg' %}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'images/c2.jpeg' %}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'images/c3.jpg' %}" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'images/c4.jpg' %}" alt="Fourth slide">
      </div>
    </div>
  </div>

{% endblock %}
